In [17]:
!pip install kafka-python

Requirement already satisfied: kafka-python in /opt/homebrew/lib/python3.11/site-packages (2.0.2)

In [18]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [19]:
producer = KafkaProducer(bootstrap_servers=['3.16.162.213:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [20]:
producer.send('demo_test_new', value="{'Surename':'Linux'}")

In [21]:
!pip install chardet

Requirement already satisfied: chardet in /opt/homebrew/lib/python3.11/site-packages (5.2.0)

In [22]:
!ls

KafkaConsumer.ipynb     kafka-stock-project.pem
KafkaProducer.ipynb     resource

In [23]:
df = pd.read_csv("resource/indexProcessed.csv")

In [24]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [25]:
# Random data
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
61714,399001.SZ,2003-08-26,3177.639893,3197.899902,3167.0,3188.389893,3188.354248,0.0,510.142383

In [28]:
# df.sample(1).to_dict()
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test_new', value=dict_stock)

KeyboardInterrupt:

In [29]:
# Remove the data
producer.flush()